body {
    background-color: lightcyan;
}
div.container {
    width: 80%;
    margin: auto;
}
div.episodes {
    background-color: lightblue;
    margin-left: 1em;
    margin-right: 1em;
    padding: 5px;
    border: 1px solid white;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-left: 10px;
}

/* Obsolete */